.error-message {
  color: var(--bad-red);
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.success-message {
  color: var(--good-green);
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}