.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--w);
  height: var(--h);
  border-radius: 1rem;
}

.horizontal {
  width: var(--h);
  height: var(--w);
}

.horizontal.flex {
  flex-direction: row;
}

.sm { --w: 300px; --h: 400px; }
.md { --w: 400px; --h: 500px; }
.lg { --w: 500px; --h: 600px; }
.xl { --w: 600px; --h: 700px; }
.xxl { --w: 700px; --h: 800px; }

.primary {
  background-color: var(--strong-tech);
}

.secondary {
  background-color: var(--tech);
}

.tertiary {
  background-color: var(--week-tech);
}