.pink-button {
  background: var(--piggy-pink);
  color: var(--font);
  font-size: 1rem;
  
  cursor: pointer;
  transition: background 0.3s ease;

  width: auto;
  height: auto;

  margin: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
}

.pink-button:hover {
  background: var(--purple-purple);
}