.pink-button {
  background: var(--strong-pink);
  color: var(--font);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  
  cursor: pointer;
  transition: background 0.3s ease;

  margin: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
}

.pink-button:hover {
  background: var(--purple-purple);
}
